{% block content %}
<head>
    <title>Добавление нового вызова</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<h1>{% block title %} Добавление нового вызова {% endblock %}</h1>
<form method="post">
    <p>
        <table style="width: 100%;">
            <tr>
                <td style="text-align: left;">
                    <ptext class="text-r">
                        <label for="select_disp">Диспетчер:</label>
                        <select id="select_disp" name="dispatcher">
                            {% for dispatcher in dispatchers %}
                                <option value="{{ dispatcher }}">{{ dispatcher }}</option>
                            {% endfor %}
                        </select>
                    </ptext>

                    <p>
                        <label for="name_called">ФИО вызывавшего</label>
                        <input type="text" pattern="[а-яА-ЯёЁ\s]+$" name="name_called" placeholder="ФИО вызвавшего">
                    </p>

                    <p>
                        <label for="patient_name">ФИО пациента</label>
                        <input type="text" pattern="[а-яА-ЯёЁ\s]+$" name="patient_name" placeholder="ФИО пациента">
                    </p>

                    <p>
                        <label for="reason">Причина вызова:</label>
                        <br>
                        <textarea name="reason" pattern="[0-9а-яА-ЯёЁ.,;:!? ]+$" placeholder="Причина вызова" rows="15" cols="60"></textarea>
                    </p>

                    <p>
                        <label for="adres">Адрес</label>
                        <input type="text" pattern="[0-9а-яА-ЯёЁ.,;:!? ]+$" name="adres" placeholder="Адрес">
                    </p>
                </td>

                <td style="text-align: right;">
                    <body_button><button class="button__call" type="button" onclick="addForms()">Добавить бригаду</button></body_button>
                    <ptext class="text-r">
                        <div class="align--left">
                            <div id="form-container"></div>
                        </div>
                    </ptext>
                </td>
            </tr>
        </table>
    </p>

    <p>
        <button class="button__call"  type="submit">Добавить вызов</button>
    </p>
</form>

<script src="{{ url_for('static', filename='script.js') }}"></script>
<script>
    const brigades = {{ brigades|tojson }};
</script>
{% endblock %}


